{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="https://fonts.googleapis.com/css?family=Baloo&subset=latin,latin-ext" rel="stylesheet" type="text/css">

	<title></title>
</head>
<body style="background-color: #BDC3C7 !important">
</br>
</br>
</br>
</br>
</br>
</br>
	<div class="row" >
		<div class="login" >
			<div class="col-xs-4 col-md-4 col-sm-4">
			</div>
			<div class="col-xs-4 col-md-4 col-sm-4">

			    <div class="login-form" style="height: auto; width: 100%; border: 5px solid orange ;border-radius: 15px; padding: 25px; background-color: white" >		
						<center style="font-family: Baloo;">{{ error }}</center>
			    		<center><h1><a href="userAccount/index.html">H@ck Wargame</a></h1></center>
			     	<form name="login" action={% url 'user:loginForm' %} method="POST">{% csrf_token %}
				        <div class="form-group">
				            <input type="text" class="form-control login-field" value="" placeholder="Enter your Id" name="user_id" />
				        </div>
					    <div class="form-group">
					          <input type="password" class="form-control login-field" value="" placeholder="Password" name="user_pw"  />
					     </div>
				        <button type="submit" class="btn btn-warning btn-lg btn-block" style="margin-top: 40px; ">Log in</button>
				    </form>
			    </div>
			</div>
		</div>
	</div>
	<script>

	</script>
</body>
</html>
 

